@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.roboto
{
    font-family: 'Roboto', sans-serif;
}

.lato
{
    font-family: 'Lato', sans-serif;
}

#header .fixed
{
    width: 33%;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header .fixed img 
{
    width: 180px;
}

@media (max-width: 768px)
{
    #header .fixed
    {
        position: relative;
        width: 100%;
        height: 50vh;
    }
}